body { background: #f1447d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 56px; display: flex; }
.block-search-0 { color: #619650; font-size: 16px; margin-bottom: 5px; }
.block-user-1 { color: #a47966; font-size: 14px; margin-bottom: 5px; }
.block-search-2 { color: #6d5a7a; font-size: 20px; margin-bottom: 5px; }
.block-session-3 { color: #63078d; font-size: 14px; margin-bottom: 5px; }
.block-payment-4 { color: #fc8cee; font-size: 18px; margin-bottom: 5px; }